[submodule "external/mujoco_ros2_control"]
	path = external/mujoco_ros2_control
	url = git@github.com:ETHZ-RobotX/mujoco_ros2_control.git
[submodule "external/unitree_a2_mujoco"]
	path = external/unitree_a2_mujoco
	url = git@github.com:ETHZ-RobotX/unitree_a2_mujoco.git
[submodule "external/a2_description"]
	path = src/core/a2_description
	url = git@github.com:ETHZ-RobotX/a2_description.git
[submodule "external/a2_locomotion_controller"]
	path = src/control/a2_locomotion_controller
	url = git@github.com:ETHZ-RobotX/a2_locomotion_controller.git
[submodule "external/unitree_mujoco"]
	path = external/unitree_mujoco
	url = git@github.com:ETHZ-RobotX/unitree_mujoco.git
[submodule "external/unitree_ros2"]
	path = external/unitree_ros2
	url = git@github.com:ETHZ-RobotX/unitree_ros2.git
[submodule "external/far_planner"]
	path = external/far_planner
	url = git@github.com:ETHZ-RobotX/far_planner.git
[submodule "external/navigation_ext_ros2"]
	path = external/navigation_ext_ros2
	url = git@github.com:ETHZ-RobotX/navigation_ext_ros2.git
[submodule "external/tare_planner"]
	path = external/tare_planner
	url = git@github.com:ETHZ-RobotX/tare_planner.git
[submodule "src/core/a2_sim_utils"]
	path = src/core/a2_sim_utils
	url = git@github.com:ETHZ-RobotX/a2_sim_utils.git
[submodule "external/HesaiLidar"]
	path = external/HesaiLidar
	url = git@github.com:ETHZ-RobotX/HesaiLidar_ROS_2.0.git
[submodule "src/object_detection"]
	path = src/object_detection
	url = git@github.com:ETHZ-RobotX/a2_object_detection.git
[submodule "src/core/a2_unitree_bridge"]
	path = src/core/a2_unitree_bridge
	url = git@github.com:ETHZ-RobotX/a2_unitree_bridge.git
[submodule "external/gscam2"]
	path = external/gscam2
	url = https://github.com/clydemcqueen/gscam2.git
